/* public/css/styles.css */

body {
    font-family: Arial, sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial Black", sans-serif;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

table tr:last-child td {
    border-bottom: none;
}

table tr:nth-child(even) {
    background-color: #f8f9fa;
}

table tr:hover {
    background-color: #e9ecef;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header a, header h1{
    color: white;
}


ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ffcc00;
}

footer {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

button[type="submit"] {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white; /* Белый цвет текста */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Скругляем углы */
    cursor: pointer; /* Указатель при наведении */
}

button[type="submit"]:hover {
    background-color: #45a049; /* Темно-зеленый цвет при наведении */
}

.quest {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.quest.pending {
    background-color: #ffcccc;
}

.quest.completed {
    background-color: #ccffcc;
}

.profile-header {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-info {
    margin-bottom: 5px;
}