{# templates/user/user_list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}

{% block content %}
    <h1>User List</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="{{ path('app_user_profile', {'id': user.id}) }}">{{ user.name }}</a></td>
                <td>{{ user.balance }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}